@media screen and (min-width: 992px) {
    #bloc_page {
        min-width: 992px;
        max-width: 1440px;
    }
    
        /* fonctionnement */

        .fonctionnement button{
            width: 31%;
        }

        .fonctionnement button i {
            margin-right: 20px;
        }

        .cartes {
            height: 280px;
            width: 22%;
        }

        .carte_image {
            height: 220px;
        }

}