@media screen and (min-width: 768px) {
    #bloc_page {
        min-width: 768px;
        max-width: 991px;
    }

    /* logo */
    #logo {
        width: 30%;
    }

    /* menu */
    #menu {
        margin-top: -40px;
    }

    .menu_entrees, .menu_plats, .menu_desserts {
        margin-left: 30px;
        margin-right: 30px;
    }

    .commander .bouton {
        width: 20%;
        font-size: 18px;

    }
}
            