@media screen and (min-width: 768px) {
    #bloc_page {
        min-width: 768px;
        max-width: 991px;

    }

    /* fonctionnement */

    .conteneur_button {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .fonctionnement button{ 
        margin-left: 5px;
        width: 31%;
    } 
        
    .fonctionnement button i {
        margin-right: 10px;
    }
}

    

